{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["import"],
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "arrow-parens": ["warn", "as-needed", { "requireForBlockBody": true }],
    "comma-dangle": ["error", "never"],
    "max-len": ["error", { "code": 100, "ignoreUrls": true }],
    "quotes": ["error", "single"],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.test.js"] }
    ]
  }
}
