language: node_js
dist: trusty
sudo: required

branches:
  except:
    - /^v[0-9]/

node_js:
  - 4
  - 7

cache:
  apt: true
  yarn: true
  ccache: true

addons:
  apt:
    sources: ['ubuntu-toolchain-r-test']
    packages: ['g++-6', 'libbz2-dev', 'libstxxl-dev', 'libstxxl1', 'libxml2-dev', 'libzip-dev', 'lua5.1', 'liblua5.1-0-dev', 'libtbb-dev', 'libgdal-dev', 'libluabind-dev', 'libboost-all-dev']

env: CCOMPILER='gcc-6' CXXCOMPILER='g++-6'

before_install:
  - yarn global add greenkeeper-lockfile@1

install:
  - yarn

before_script:
  - greenkeeper-lockfile-update

script:
  - make test

after_script:
  - greenkeeper-lockfile-upload