dist: trusty
addons:
  apt:
    sources:
     - ubuntu-toolchain-r-test
    packages:
     - coreutils
     - g++-4.8
     - gdb

language: node_js

node_js:
  - "4"

install:
  - make

script:
  - make test