language: node_js
dist: trusty
sudo: required

branches:
  except:
    - /^v[0-9]/

node_js:
  - 7

cache:
  apt: true
  yarn: true
  ccache: true

addons:
  apt:
    sources: ['ubuntu-toolchain-r-test']
    packages: ['g++-6', 'gcc-6', 'build-essential', 'git', 'wget', 'cmake3', 'pkg-config', 'libbz2-dev', 'libstxxl-dev', 'libstxxl1', 'libxml2-dev', 'libzip-dev', 'libboost-all-dev', 'lua5.2', 'liblua5.2-dev', 'libtbb-dev']

env: CPP=cpp-6 CC=gcc-6 CXX=g++-6

before_install:
  - yarn global add greenkeeper-lockfile@1

install:
  - yarn

before_script:
  - greenkeeper-lockfile-update

script:
  - make test

after_script:
  - greenkeeper-lockfile-upload